{# layout.njk #}

    {%- block main -%} {%- endblock %}
    <!-- You write code for this content block in another file -->
    <!-- The minus signs are for whitespace control -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/vendor/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.nav-wrapper').pushpin({
          top: 0,
          bottom: 500,
          offset: 0
        });
        $('.parallax').parallax();

        var options = [
          {selector: '.scrollfire-1', offset: 200, callback: function(e) {Materialize.fadeInImage($(e))} },
          {selector: '.scrollfire-2', offset: 200, callback: function(e) {Materialize.fadeInImage($(e))} },
          {selector: '.scrollfire-3', offset: 100, callback: function(e) {Materialize.fadeInImage($(e))} }
        ];
        Materialize.scrollFire(options);
        $('.scrollspy').scrollSpy({scrollOffset:15});
      });
    </script>
  </body>
</html>
