<footer class="page-footer blue-grey lighten-4">
  <div class="container">
    <div class="row">
      <?php if($index) {
        echo '<p>1. Metal fabrication is performed exclusively by Mitchell and Paul Alexander, the owners of Refab Wood, LLC.<br>2. Deconstruction is performed exclusively by fully insured subcontractors with the owners of Refab Wood, LLC supervising.</p>';
      } ?>
      <div class="col l6 s12">
        <h5 class="black-text">Why do we do this?</h5>
        <p class="black-text text-lighten-4">We're passionate about taking something old, unused and forgotten and making something new, functional and beautiful. Crafting pieces that bring joy and usefulness to families for generations is how we want to make our living.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="black-text">Quick Links</h5>
        <ul>
          <li><a class="black-text" href="index.php">Home</a></li>
          <li><a class="black-text" href="faq.php">FAQ</a></li>
          <li><a class="black-text" href="contact.php">Contact</a></li>
          <li><a class="black-text" href="policies.php">Policies</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="black-text">Connect</h5>
        <ul>
          <li><a class="black-text" href="https://www.facebook.com/RefabWood" target="_blank">Facebook</a></li>
          <li><a class="black-text" href="http://instagram.com/refabwood" target=_blank>Instagram</a></li>
          <li><a class="black-text" href="http://www.pinterest.com/refabraleigh/" target=_blank>Pinterest</a></li>
          <li><a class="black-text" href="https://twitter.com/RefabWood" target=_blank>Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="row container black-text">
      <div class="col s6">&copy; 2016 Refab Wood, LLC</div>
      <div class="col s6 right">Phone: 919 - 907 - 1451</div>
    </div>
  </div>
</footer>
