{# index.njk #}
{# This is a comment in nunjucks. This will not be rendered in the final HTML #}
{%- extends "layout.njk" -%}

{% block main %}
{%- import 'macros/head.njk' as head -%}
{{head.meta(title='XanderWorks')}}
<header>
  {# Import nav menu #}
  {%- import 'macros/nav.njk' as nav -%}
  {# Set the active page #}
  {{nav.active('home')}}
</header>

<main>
  <div class="parallax-container valign-wrapper top-parallax">
    <div class="parallax"><img src="images/raleigh_skyline_color2.jpg" class="banner-img"></div>
    <div class="row container section">
      <h1 class="valign center-align white-text shadow">XanderWorks</h1>
    </div>
  </div>
  <div class="section grey center z-depth-2">
    <div class="row container white-text shadow">
      <div class="col s12">
        <h1 class="header index-heading hide-on-med-and-down">Refab Wood</h1>
      </div>
      <div class="col s12">
        <h3 class="header light">Commercial and Residential Furniture, Fixtures, &amp; More</h3>
      </div>
      <div class="col s12">
        <h5 class="header light">Operating out of Raleigh, NC since 2012</h5>
      </div>
    </div>
  </div>
</main>

{# Include footer #}
{# {% include 'partials/footer.njk' %} #}
{%- endblock main -%}
