{% macro active(activePage='home') %}
{% set uid = false %}
{% set admin = false %}
<nav class="container">
  <div class="nav-wrapper shadow-med">
    <a href="#" class="brand-logo center"><img src="images/logo_white_black_outline.png" width="85"></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="#">Projects</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
{% endmacro %}
