{% macro active(activePage='home') %}
{% set uid = false %}
{% set admin = false %}
<nav class="container">
  <div class="nav-wrapper shadow">
    <a href="#" class="brand-logo center">LOGO</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="#">Projects</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
{% endmacro %}
