@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
* {
  font-family: 'Oxygen'; }

.shadow {
  text-shadow: .05em .05em .15em black; }

.shadow-med {
  text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.85); }

.shadow-light {
  text-shadow: 0.005em 0.005em 0.05em rgba(0, 0, 0, 0.7); }

.bold {
  font-weight: 700; }

nav {
  box-shadow: none !important;
  background: none; }
  nav .pinned .brand-logo {
    position: fixed; }
  nav ul a {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.8);
    transition: .3s; }
    nav ul a:hover {
      background: none;
      color: white; }

.top-parallax {
  z-index: -1; }

.parallax-container {
  height: 564px;
  margin-top: -64px; }

.motto {
  font-family: 'Open Sans', sans-serif; }

.header, .article-title {
  font-family: 'Open Sans', sans-serif; }

.title-icon {
  font-size: 3rem; }

.index-article {
  font-size: 1.25rem; }

.scrollfire-test {
  opacity: 0; }
