@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

* {
  font-family: 'Oxygen';
}

.shadow {
  text-shadow: .05em .05em .15em black;
}
.shadow-med {
  text-shadow: .05em .05em .1em rgba(0,0,0,0.85);
}
.shadow-light {
  text-shadow: .005em .005em .05em rgba(0,0,0,0.7);
}
.bold {
  font-weight: 700;
}

nav {
  box-shadow: none !important;
  background: none;
  .pinned {
    .brand-logo {
      position: fixed;
    }
  }
  ul a {
    font-size: 1.25rem;
    // color: rgba(255,255,255,0.8);
    // transition: .3s;
    position: relative;
    &:hover {
      background: none;
      // color: rgba(255,255,255,1);
    }
    &:before {
      content: "";
      position: absolute;
      width: 75%;
      height: 2px;
      bottom: 10px;
      left: 12.5%;
      background-color: #fff;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.275s ease-in-out 0s;
      box-shadow: .005em .005em .05em rgba(0,0,0,0.7);
    }
    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}
.top-parallax {
  z-index: -1;
}
.parallax-container {
  height: 564px;
  margin-top: -64px;
}
h2 {
  font-size: 1.25rem;
}
.motto {
  font-family: 'Open Sans', sans-serif;
}
.header, .article-title {
  font-family: 'Open Sans', sans-serif;
}
.title-icon {
  font-size: 3rem;
}
.index-article {
  font-size: 1.25rem;
}
.scrollfire-1, .scrollfire-2, .scrollfire-3 {
  opacity:0;
}
